apiVersion: 1

datasources:
- name: Loki
  type: loki
  access: proxy
  url: http://192.168.1.56:3100
  jsonData:
    maxLines: 1000
    derivedFields:
      - datasourceUid: prometheus
        matcherRegex: (?:pod|container)=("?)([^"]*)\1
        name: Prometheus
        url: http://192.168.1.56:9090
