{% raw %}
{{ define "telegram.default" }}
{{ if gt (len .Alerts) 0 }}
{{ range .Alerts }}
{{ if eq .Status "firing"}}
<b>🚨 {{ .Status | title }} 🚨</b>
{{ else }}
<b>✅ {{ .Status | title }} ✅</b>
{{ end }}
<b>Тип алерта:</b> {{ .Labels.alertname  }}
<b>Хост:</b> {{ .Labels.instance  }}
<b>Имя:</b> {{ .Labels.job  }}
<b>Время:</b> {{ .StartsAt.Format "02.01.2006 15:04:05" }}UTC
━━━━━━━━━━━━━━━━
{{ end }}
{{ end }}
{{ end }}
{% endraw %}
